<h4>Your Followers Activity from medium blog!</h4>
<div>
    <table>
    <tr>
    <th>Post count </th>
    <th>Like count </th>\
  </tr>
    <td><%= @p_count %></td>
    <td><%= @r_count %></td>
    </table>
</div>
